{# Hérite du layout principal base.html.twig #}
{% extends 'base.html.twig' %}

{# Définit le titre de la page (remplace le block title du layout) #}
{% block title %}Accueil{% endblock %}

{# Contenu principal de la page #}
{% block body %}
    <div class="mt-5 text-center">
        {# Titre principal #}
        <h1>Bienvenue sur ma première page Symfony ! 🎉</h1>
        
        {# Affiche le nom du contrôleur passé depuis HomeController #}
        <p>Cette page est générée par le contrôleur : <strong>{{ controller_name }}</strong></p>
        
        {# Explications pour modifier la page #}
        <p>Pour modifier cette page :</p>
        <ul class="list-unstyled">
            <li>Contrôleur : <code>src/Controller/HomeController.php</code></li>
            <li>Template : <code>templates/home/index.html.twig</code></li>
            <li>Nom passé en paramètre : <strong>{{ nom }}</strong></li>
            <li>Prénom passé en paramètre : <strong>{{ prenom }}</strong></li>
        </ul>
    </div>
{% endblock %}
