{# Hérite du layout principal #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Blog{% endblock %}

{# Contenu principal #}
{% block body %}
    <div class="mt-5 text-center">
        <h1>Blog</h1>
        <p>Bienvenue sur le blog !</p>
        <p>Liste des articles :</p>
    </div>
{% endblock %}
