{% extends 'base.html.twig' %}

{% block title %}Article {{ article_slug }}{% endblock %}

{% block body %}
    <div class="mt-5 text-center">
        <h1>Article : {{ article_slug }}</h1>
        <p>Ici s'affichera le contenu de l'article avec le slug <strong>{{ article_slug }}</strong>.</p>
        <a href="/blog" class="btn btn-secondary mt-3">Retour au blog</a>
    </div>
{% endblock %}
